# Ignore dependnecies and compiled directories
node_modules
dist
# Ignore lock files
*.lock
package-lock.json
# Ignore temporary files
*.DS_Store
*error.log
.idea
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
