{{ 'template-product.css' | asset_url | stylesheet_tag }}

<div class="max-w-6xl mx-auto my-8">
  <div class="grid grid-cols-1 gap-3 md:grid-cols-2">
    <div class="product--medias">
      <div class="hidden md:block">
        {%- for media in product.media -%}
          <div class="p-2 overflow-hidden h-100">
            {%- render 'product-media', media: media -%}
          </div>
        {%- endfor -%}
      </div>
      <div class="md:hidden">
        <div class="swiper h-96">
          <!-- Swiper -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
              <div class="swiper-slide">Slide 4</div>
              <div class="swiper-slide">Slide 5</div>
              <div class="swiper-slide">Slide 6</div>
              <div class="swiper-slide">Slide 7</div>
              <div class="swiper-slide">Slide 8</div>
              <div class="swiper-slide">Slide 9</div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="product--information"></div>
  </div>
</div>

<script src="{{ 'template-product.js' | asset_url }}" defer="defer"></script>