<div class="container page-width">
  <h1 class="main-page-title page-title">
    {{ page.title | escape }}
  </h1>
  <hr size="4">
  <div class="rte lead js-fix-runts">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "main-page-section spaced-section",
  "settings": [
	{
		"type": "select",
		"id": "container_width",
		"options": [
			{
				"value": "page-width-default",
				"label": "Default"
			},
			{
			  "value": "page-width-sm",
			  "label": "Small"
			},
			{
				"value": "page-width-md",
				"label": "Medium"
			},
			{
				"value": "page-width-lg",
				"label": "Large"
			},
			{
				"value": "page-width-xl",
				"label": "Extra Large"
			}
		],
		"default": "page-width-default",
		"label": "Container Width"
	},
	{
		"type": "select",
		"id": "bg_color",
		"options": [
		  {
			"value": "bg-white",
			"label": "White"
		  },
		  {
			"value": "bg-dark",
			"label": "Dark"
		  },
		  {
			"value": "bg-light",
			"label": "Light"
		  },
		  {
			"value": "bg-primary",
			"label": "Primary"
		  },
		  {
			"value": "bg-secondary",
			"label": "Secondary"
		  }
		],
		"default": "bg-white",
		"label": "Background Color"
	}
  ]
}
{% endschema %}
