<div class="max-w-md">
  <div class="my-4 text-5xl font-bold">
    {{ section.settings.title }}
  </div>
  <div class="my-4">
    <p class="text-base leading-normal md:text-xl">
      {{ section.settings.subtext_title }}
    </p>
  </div>
  <div class="my-4">
    {%- if section.settings.button_url == blank -%}
      {%- assign shop_url = shop.secure_url -%}
    {%- else -%}
      {%- assign shop_url = section.settings.button_url -%}
    {%- endif -%}
    <a class="inline px-4 py-2 font-medium text-white bg-green-600 rounded shadow font-base hover:bg-green-800" href="{{ shop_url }}">{{ section.settings.button_label }}</a>
  </div>
</div>

{% schema %}
{
  "name": "Template 404",
  "tag": "section",
  "class": "flex items-center justify-center text-center py-7 h-screen",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "404 Heading Title",
      "default": "404"
    },
    {
      "type": "text",
      "id": "subtext_title",
      "label": "404 Subtitle Text",
      "default": "The page you are looking for is missing"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Back to homepage"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ]
}
{% endschema %}