<div class="flex flex-col items-center my-8">
  {%- if section.settings.title != blank -%}
    <h1 class="my-8 text-3xl font-medium md:my-16">
      {{ section.settings.title }}
    </h1>
  {%- endif -%}
  {%- form 'contact' -%}
    {%- if form.errors -%}
      <div class="p-5 border">
        <div class="flex flex-row items-center w-full my-3">
          <div class="text-red-500">
            {% render 'icon-failed' %}
          </div>
          <div class="ml-3 text-sm font-medium">
            Error submitting your message, please try again later...
          </div>
        </div>
        <ul class="px-4 mb-3 list-decimal ml-7">
          {%- for error in form.errors -%}
            <li>
              <span>{{ form.errors.messages[error] }}</span>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- elsif form.posted_successfully? -%}
      <div class="flex flex-row items-center w-full p-5 my-3">
        <div class="text-green-500">
          {% render 'icon-success' %}
        </div>
        <div class="ml-3 text-sm font-medium">Your message has been sent successfully</div>
      </div>
    {%- endif -%}
    <div class="items-center justify-center flex-1 max-w-6xl px-4 mx-auto">
      <div class="flex px-1 mb-3">
        <div class="px-3 md:w-1/2">
          <label class="text-sm font-medium text-gray-500 uppercase" for="contact_name">Name</label>
          <input
            class="w-full px-4 py-3 mb-3 text-gray-700 border rounded"
            id="contact_name"
            name="contact[name]"
            type="text" />
        </div>
        <div class="px-3 md:w-1/2">
          <label class="text-sm font-medium text-gray-500 uppercase" for="contact_email">Email</label>
          <input
            class="w-full px-4 py-3 mb-3 text-gray-700 border rounded"
            id="contact_email"
            name="contact[email]"
            type="email">
        </div>
      </div>
      <div class="flex px-1 pb-3">
        <div class="w-full px-3">
          <label class="text-sm font-medium text-gray-500 uppercase" for="contact_message">Message</label>
          <textarea
            class="w-full px-4 py-3 mb-3 text-gray-700 border rounded"
            id="contact_message"
            name="contact[body]"></textarea>
        </div>
      </div>
      <div class="mb-3 flex-px-1">
        <div class="w-full px-3">
          <input
            class="w-full px-4 py-2 text-base font-medium text-white bg-gray-900 border rounded cursor-pointer hover:bg-gray-700"
            type="submit"
            value="Submit Message">
        </div>
      </div>
    </div>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Contact Form",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}