<div id="product-moonshade" class="product">
	<div class="product-hero">
		<div class="product-slideshow">
			<div id="product-hero-carousel" data-ride="carousel"
				class="carousel carousel-hero slide carousel-fade">
				<div class="carousel-inner">
					<div class="carousel-item bg-primary text-center"><a data-gallery="product-gallery"
							data-toggle="lightbox"
							href="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?fit=2400%2C1470&amp;ssl=1"
							class="zoom-photo d-block"><img width="1024" height="627"
								src="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?fit=1024%2C627&amp;ssl=1"
								alt="" loading="lazy"
								data-full="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?fit=2400%2C1470&amp;ssl=1"
								srcset="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?w=2400&amp;ssl=1 2400w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?resize=300%2C184&amp;ssl=1 300w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?resize=1024%2C627&amp;ssl=1 1024w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?resize=768%2C470&amp;ssl=1 768w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?resize=1536%2C941&amp;ssl=1 1536w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?resize=2048%2C1254&amp;ssl=1 2048w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?resize=600%2C368&amp;ssl=1 600w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?resize=1600%2C980&amp;ssl=1 1600w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?w=2340&amp;ssl=1 2340w"
								sizes="(max-width: 1024px) 100vw, 1024px" class="d-block"></a></div>
					<div class="carousel-item bg-primary text-center"><a data-gallery="product-gallery"
							data-toggle="lightbox"
							href="https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?fit=2400%2C1242&amp;ssl=1"
							class="zoom-photo d-block"><img width="1024" height="530"
								src="https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?fit=1024%2C530&amp;ssl=1"
								alt="" loading="lazy"
								data-full="https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?fit=2400%2C1242&amp;ssl=1"
								srcset="https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?w=2400&amp;ssl=1 2400w, https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?resize=300%2C155&amp;ssl=1 300w, https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?resize=1024%2C530&amp;ssl=1 1024w, https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?resize=768%2C397&amp;ssl=1 768w, https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?resize=1536%2C795&amp;ssl=1 1536w, https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?resize=2048%2C1060&amp;ssl=1 2048w, https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?resize=600%2C311&amp;ssl=1 600w, https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?resize=1600%2C828&amp;ssl=1 1600w, https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?w=2340&amp;ssl=1 2340w"
								sizes="(max-width: 1024px) 100vw, 1024px" class="d-block"></a></div>
					<div class="carousel-item bg-primary text-center"><a data-gallery="product-gallery"
							data-toggle="lightbox"
							href="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?fit=2400%2C1470&amp;ssl=1"
							class="zoom-photo d-block"><img width="1024" height="627"
								src="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?fit=1024%2C627&amp;ssl=1"
								alt="" loading="lazy"
								data-full="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?fit=2400%2C1470&amp;ssl=1"
								srcset="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?w=2400&amp;ssl=1 2400w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?resize=300%2C184&amp;ssl=1 300w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?resize=1024%2C627&amp;ssl=1 1024w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?resize=768%2C470&amp;ssl=1 768w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?resize=1536%2C941&amp;ssl=1 1536w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?resize=2048%2C1254&amp;ssl=1 2048w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?resize=600%2C368&amp;ssl=1 600w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?resize=1600%2C980&amp;ssl=1 1600w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?w=2340&amp;ssl=1 2340w"
								sizes="(max-width: 1024px) 100vw, 1024px" class="d-block"></a></div>
					<div class="carousel-item bg-primary text-center"><a data-gallery="product-gallery"
							data-toggle="lightbox"
							href="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?fit=2400%2C1601&amp;ssl=1"
							class="zoom-photo d-block"><img width="1024" height="683"
								src="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?fit=1024%2C683&amp;ssl=1"
								alt="" loading="lazy"
								data-full="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?fit=2400%2C1601&amp;ssl=1"
								srcset="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?w=2400&amp;ssl=1 2400w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=300%2C200&amp;ssl=1 300w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=1024%2C683&amp;ssl=1 1024w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=768%2C512&amp;ssl=1 768w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=1536%2C1025&amp;ssl=1 1536w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=2048%2C1366&amp;ssl=1 2048w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=600%2C400&amp;ssl=1 600w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=1600%2C1067&amp;ssl=1 1600w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?w=2340&amp;ssl=1 2340w"
								sizes="(max-width: 1024px) 100vw, 1024px" class="d-block"></a></div>
					<div class="carousel-item bg-primary text-center"><a data-gallery="product-gallery"
							data-toggle="lightbox"
							href="https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?fit=2048%2C1366&amp;ssl=1"
							class="zoom-photo d-block"><img width="1024" height="683"
								src="https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?fit=1024%2C683&amp;ssl=1"
								alt="" loading="lazy"
								data-full="https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?fit=2048%2C1366&amp;ssl=1"
								srcset="https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?w=2048&amp;ssl=1 2048w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=300%2C200&amp;ssl=1 300w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=1024%2C683&amp;ssl=1 1024w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=768%2C512&amp;ssl=1 768w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=1536%2C1025&amp;ssl=1 1536w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=600%2C400&amp;ssl=1 600w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=1600%2C1067&amp;ssl=1 1600w"
								sizes="(max-width: 1024px) 100vw, 1024px" class="d-block"></a></div>
					<div class="carousel-item bg-primary text-center active"><a
							data-gallery="product-gallery" data-toggle="lightbox"
							href="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?fit=2400%2C1600&amp;ssl=1"
							class="zoom-photo d-block"><img width="1024" height="683"
								src="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?fit=1024%2C683&amp;ssl=1"
								alt="" loading="lazy"
								data-full="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?fit=2400%2C1600&amp;ssl=1"
								srcset="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?w=2400&amp;ssl=1 2400w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?resize=300%2C200&amp;ssl=1 300w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?resize=1024%2C683&amp;ssl=1 1024w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?resize=768%2C512&amp;ssl=1 768w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?resize=1536%2C1024&amp;ssl=1 1536w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?resize=2048%2C1365&amp;ssl=1 2048w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?resize=600%2C400&amp;ssl=1 600w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?resize=1600%2C1067&amp;ssl=1 1600w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?w=2340&amp;ssl=1 2340w"
								sizes="(max-width: 1024px) 100vw, 1024px" class="d-block"></a></div>
					<div class="carousel-item bg-primary text-center"><a data-gallery="product-gallery"
							data-toggle="lightbox"
							href="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/moon-product.jpg?fit=2400%2C1487&amp;ssl=1"
							class="zoom-photo d-block"><img width="1024" height="634"
								src="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/moon-product.jpg?fit=1024%2C634&amp;ssl=1"
								alt="" loading="lazy"
								data-full="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/moon-product.jpg?fit=2400%2C1487&amp;ssl=1"
								srcset="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/moon-product.jpg?w=2400&amp;ssl=1 2400w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/moon-product.jpg?resize=300%2C186&amp;ssl=1 300w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/moon-product.jpg?resize=1024%2C634&amp;ssl=1 1024w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/moon-product.jpg?resize=768%2C476&amp;ssl=1 768w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/moon-product.jpg?resize=1536%2C952&amp;ssl=1 1536w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/moon-product.jpg?resize=2048%2C1269&amp;ssl=1 2048w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/moon-product.jpg?resize=600%2C372&amp;ssl=1 600w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/moon-product.jpg?resize=1600%2C991&amp;ssl=1 1600w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/moon-product.jpg?w=2340&amp;ssl=1 2340w"
								sizes="(max-width: 1024px) 100vw, 1024px" class="d-block"></a></div>
					<div class="carousel-item bg-primary text-center"><a data-gallery="product-gallery"
							data-toggle="lightbox"
							href="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/camping3.jpg?fit=2400%2C1314&amp;ssl=1"
							class="zoom-photo d-block"><img width="1024" height="561"
								src="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/camping3.jpg?fit=1024%2C561&amp;ssl=1"
								alt="" loading="lazy"
								data-full="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/camping3.jpg?fit=2400%2C1314&amp;ssl=1"
								srcset="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/camping3.jpg?w=2400&amp;ssl=1 2400w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/camping3.jpg?resize=300%2C164&amp;ssl=1 300w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/camping3.jpg?resize=1024%2C561&amp;ssl=1 1024w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/camping3.jpg?resize=768%2C420&amp;ssl=1 768w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/camping3.jpg?resize=1536%2C841&amp;ssl=1 1536w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/camping3.jpg?resize=2048%2C1121&amp;ssl=1 2048w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/camping3.jpg?resize=600%2C329&amp;ssl=1 600w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/camping3.jpg?resize=1600%2C876&amp;ssl=1 1600w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/camping3.jpg?w=2340&amp;ssl=1 2340w"
								sizes="(max-width: 1024px) 100vw, 1024px" class="d-block"></a></div>
				</div>
			</div>
			<div class="product-slideshow-bottom py-md-4">
				<div class="product-slideshow-inner container d-md-flex align-items-md-center">
					<div class="title-tagline-wrapper d-none d-md-block">
						<p class="mb-1 product-category-logo"><img
								src="https://moonfab.com/wp-content/uploads/2020/04/moonshade-logo-white.svg"
								alt="MoonShade"></p>
						<p class="mb-0 text-white">The portable vehicle awning you've been waiting for
						</p>
					</div>
					<div class="carousel-thumbnails-wrapper ms-md-auto">
						<div class="carousel-thumbnails-wrapper my-2">
							<div class="form-row mx-1 justify-content-center align-items-center">
								<div class="col"><a data-gallery="product-gallery" data-toggle="lightbox"
										href="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?fit=2400%2C1470&amp;ssl=1"
										class="zoom-photo d-block active"><img width="150" height="150"
											src="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?resize=150%2C150&amp;ssl=1"
											alt="" loading="lazy"
											data-full="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?fit=2400%2C1470&amp;ssl=1"
											srcset="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?resize=150%2C150&amp;ssl=1 150w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?resize=300%2C300&amp;ssl=1 300w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?resize=100%2C100&amp;ssl=1 100w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?zoom=3&amp;resize=150%2C150&amp;ssl=1 450w"
											sizes="(max-width: 150px) 100vw, 150px" class="d-block"></a>
								</div>
								<div class="col"><a data-gallery="product-gallery" data-toggle="lightbox"
										href="https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?fit=2400%2C1242&amp;ssl=1"
										class="zoom-photo d-block "><img width="150" height="150"
											src="https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?resize=150%2C150&amp;ssl=1"
											alt="" loading="lazy"
											data-full="https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?fit=2400%2C1242&amp;ssl=1"
											srcset="https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?resize=300%2C300&amp;ssl=1 300w, https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?resize=100%2C100&amp;ssl=1 100w, https://i0.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-3.jpg?zoom=3&amp;resize=150%2C150&amp;ssl=1 450w"
											sizes="(max-width: 150px) 100vw, 150px" class="d-block"></a>
								</div>
								<div class="col"><a data-gallery="product-gallery" data-toggle="lightbox"
										href="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?fit=2400%2C1470&amp;ssl=1"
										class="zoom-photo d-block "><img width="150" height="150"
											src="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?resize=150%2C150&amp;ssl=1"
											alt="" loading="lazy"
											data-full="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?fit=2400%2C1470&amp;ssl=1"
											srcset="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?resize=150%2C150&amp;ssl=1 150w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?resize=300%2C300&amp;ssl=1 300w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?resize=100%2C100&amp;ssl=1 100w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-3.jpg?zoom=3&amp;resize=150%2C150&amp;ssl=1 450w"
											sizes="(max-width: 150px) 100vw, 150px" class="d-block"></a>
								</div>
								<div class="col"><a data-gallery="product-gallery" data-toggle="lightbox"
										href="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?fit=2400%2C1601&amp;ssl=1"
										class="zoom-photo d-block "><img width="150" height="150"
											src="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=150%2C150&amp;ssl=1"
											alt="" loading="lazy"
											data-full="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?fit=2400%2C1601&amp;ssl=1"
											srcset="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=300%2C300&amp;ssl=1 300w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=100%2C100&amp;ssl=1 100w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?zoom=3&amp;resize=150%2C150&amp;ssl=1 450w"
											sizes="(max-width: 150px) 100vw, 150px" class="d-block"></a>
								</div>
								<div class="col"><a data-gallery="product-gallery" data-toggle="lightbox"
										href="https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?fit=2048%2C1366&amp;ssl=1"
										class="zoom-photo d-block "><img width="150" height="150"
											src="https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=150%2C150&amp;ssl=1"
											alt="" loading="lazy"
											data-full="https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?fit=2048%2C1366&amp;ssl=1"
											srcset="https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=150%2C150&amp;ssl=1 150w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=300%2C300&amp;ssl=1 300w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=100%2C100&amp;ssl=1 100w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?zoom=3&amp;resize=150%2C150&amp;ssl=1 450w"
											sizes="(max-width: 150px) 100vw, 150px" class="d-block"></a>
								</div>
								<div class="col"><a data-gallery="product-gallery" data-toggle="lightbox"
										href="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?fit=2400%2C1600&amp;ssl=1"
										class="zoom-photo d-block "><span
											class="total-count-cover"><span>+3</span></span> <img
											width="150" height="150"
											src="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?resize=150%2C150&amp;ssl=1"
											alt="" loading="lazy"
											data-full="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?fit=2400%2C1600&amp;ssl=1"
											srcset="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?resize=150%2C150&amp;ssl=1 150w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?resize=300%2C300&amp;ssl=1 300w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?resize=100%2C100&amp;ssl=1 100w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?zoom=3&amp;resize=150%2C150&amp;ssl=1 450w"
											sizes="(max-width: 150px) 100vw, 150px" class="d-block"></a>
								</div>
								<div class="col d-none d-md-block"><a data-gallery="product-gallery"
										data-toggle="lightbox" id="product-carousel-expand"
										title="View MoonShade slideshow"
										href="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/BMalone_Moonshade_014.jpg?fit=2400%2C1600&amp;ssl=1"
										class="product-carousel-expand"><span class="far fa-expand"></span>
										<span class="sr-only">View
											MoonShade slideshow</span></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container hero-text text-center d-md-none">
			<h1 class="h3 product-title mt-4 mt-md-0 mb-1">MoonShade</h1>
			<p style="line-height: 1.15;">The portable vehicle awning you've been waiting for</p>
			<div class="product-key-stats">
				<div class="form-row">
					<div class="col">
						<div class="stat"></div>
						<div class="label"></div>
					</div>
					<div class="col">
						<div class="stat">9' x 7'</div>
						<div class="label">Shade Coverage</div>
					</div>
					<div class="col">
						<div class="stat">28" x 6"</div>
						<div class="label">Stowed Size</div>
					</div>
					<div class="col">
						<div class="stat">8 lbs</div>
						<div class="label">Total Weight</div>
					</div>
				</div>
			</div>
			<div class="my-3 small"><span class="far fa-exclamation-circle"></span>
				<strong>Note:</strong> MoonShades are currently sold out and available for preorder.
				Estimated in stock date is October 18, 2021. Find info on preorders and back in stock
				timelines <a href="https://moonfab.com/preorder-faq/"><u>here</u></a>.
				<a href="https://moonfab.com/products/moonshade/" data-bs-toggle="modal"
					data-bs-target="#notifyStockModal" class="fw-bold"><u class="text-nowrap">Notify
						me when it's back in stock</u></a>
			</div>
			<div class="mobile-cta d-sm-flex">
				<div class="btn-atc-wrapper col-sm-6 px-0 ps-sm-0 pe-sm-1">
					<div class="atc-button-wrapper d-block d-md-inline-block"><a href="?add-to-cart=7259"
							target="_self" class="btn btn-primary btn-atc btn-xs-block btn-sm-block"><span
								class="outer"><span>Add to Cart</span> <span class="ms-auto ps-3">
									<!----> <span>$</span><span>325</span>
								</span></span>
							<!---->
						</a></div>
				</div>
				<div class="dropdown mt-2 mt-sm-0 col-sm-6 px-0 ps-sm-1 pe-sm-0"><button type="button"
						id="mobileProductNavMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false" class="btn btn-outline-primary dropdown-toggle btn-dropdown">
						Learn More
					</button>
					<div aria-labelledby="mobileProductNavMenuButton"
						class="dropdown-menu dropdown-menu-block-sm"><a data-smooth_scroll="1" href="#about"
							class="dropdown-item">
							About </a> <a data-smooth_scroll="1" href="#features" class="dropdown-item">
							Features </a> <a data-smooth_scroll="1" href="#reviews" class="dropdown-item">
							Reviews </a> <a data-smooth_scroll="1" href="#video" class="dropdown-item">
							Video </a> <a data-smooth_scroll="1" href="#specs" class="dropdown-item">
							Specs </a> <a data-bs-toggle="modal" href="#setup-quiz" class="dropdown-item">
							Find Your Setup </a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="product-desktop-nav d-none d-md-block sticky-top">
		<div class="container">
			<div class="row align-items-center">
				<div class="col d-flex align-items-center">
					<div class="product-logo-item"><a href="#" id="desktop-nav-product-logo-link"
							class="py-0 product-logo me-3 border-end pe-3 d-block"><img
								id="desktop-nav-product-logo" data-width="" data-height=""
								src="https://moonfab.com/wp-content/uploads/2020/04/moonshade-logo-white.svg"
								alt="MoonShade"></a></div>
					<div class="dropdown d-lg-none"><a type="button" id="desktopProductNavMenuButton"
							data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
							class="dropdown-toggle">
							Learn More
						</a>
						<div aria-labelledby="desktopProductNavMenuButton" class="dropdown-menu"><a
								data-smooth_scroll="1" href="#about" class="dropdown-item">
								About </a> <a data-smooth_scroll="1" href="#features" class="dropdown-item">
								Features </a> <a data-smooth_scroll="1" href="#reviews"
								class="dropdown-item">
								Reviews </a> <a data-smooth_scroll="1" href="#video" class="dropdown-item">
								Video </a> <a data-smooth_scroll="1" href="#specs" class="dropdown-item">
								Specs </a> <a data-bs-toggle="modal" href="#setup-quiz" class="dropdown-item">
								Find Your Setup </a></div>
					</div>
					<ul class="nav align-items-center d-none d-lg-flex">
						<li class="nav-item"><a data-smooth_scroll="1" href="#about"
								class="nav-link">About</a></li>
						<li class="nav-item"><a data-smooth_scroll="1" href="#features"
								class="nav-link">Features</a></li>
						<li class="nav-item"><a data-smooth_scroll="1" href="#reviews"
								class="nav-link">Reviews</a></li>
						<li class="nav-item"><a data-smooth_scroll="1" href="#video"
								class="nav-link">Video</a></li>
						<li class="nav-item"><a data-smooth_scroll="1" href="#specs"
								class="nav-link">Specs</a></li>
						<li class="nav-item"><a data-bs-toggle="modal" href="#setup-quiz" class="nav-link">Find
								Your Setup</a></li>
					</ul>
				</div>
				<div class="col-auto d-flex align-items-center">
					<p class="mb-0 small pe-4"><span class="far fa-exclamation-circle"></span> <a
							target="_blank" href="https://moonfab.com/preorder-faq/">
							Available for Preorder
						</a> <br> <span class="estimated-ship">
							Est. in stock date
							October 18, 2021 </span> <br> <a href="https://moonfab.com/products/moonshade/"
							data-bs-toggle="modal" data-bs-target="#notifyStockModal" class="fw-bold"><u
								class="text-nowrap">Notify me when it's back in stock</u></a></p>
					<div class="atc-button-wrapper d-inline-block"><a href="?add-to-cart=7259"
							target="_self" class="btn btn-primary btn-atc"><span class="outer"><span>Add
									to Cart</span> <span class="ms-auto ps-3">
									<!----> <span>$</span><span>325</span>
								</span></span>
							<!---->
						</a></div>
				</div>
			</div>
		</div>
	</div>
	<section id="about" class="product-about py-5">
		<div class="container py-lg-5">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg col-xl-5">
					<h1 class="h3">You’re Covered</h1>
					<p class="mb-0">MoonShade is a portable vehicle awning that offers reliable
						coverage, day or night, to your outdoor site. With a variety of anchoring
						systems, it sets up easily and attaches to almost any sturdy structure.
						MoonShade provides 9ft by 7ft coverage but packs down tight and weighs only 8
						lbs, making breakdown and storage a breeze.</p>
				</div>
				<div class="col-lg-6 d-none d-lg-block">
					<div class="secondary-image-wrap"><img width="1024" height="683"
							src="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/camping1.jpg?fit=1024%2C683&amp;ssl=1"
							alt="" loading="lazy"
							srcset="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/camping1.jpg?w=2400&amp;ssl=1 2400w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/camping1.jpg?resize=300%2C200&amp;ssl=1 300w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/camping1.jpg?resize=1024%2C683&amp;ssl=1 1024w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/camping1.jpg?resize=768%2C512&amp;ssl=1 768w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/camping1.jpg?resize=1536%2C1024&amp;ssl=1 1536w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/camping1.jpg?resize=2048%2C1365&amp;ssl=1 2048w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/camping1.jpg?resize=600%2C400&amp;ssl=1 600w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/camping1.jpg?w=2340&amp;ssl=1 2340w"
							sizes="(max-width: 1024px) 100vw, 1024px" class="rounded">
						<div class="key-stats-wrapper text-center mt-3">
							<div class="product-key-stats">
								<div class="form-row">
									<div class="col">
										<div class="stat">9' x 7'</div>
										<div class="label">Shade Coverage</div>
									</div>
									<div class="col">
										<div class="stat">28" x 6"</div>
										<div class="label">Stowed Size</div>
									</div>
									<div class="col">
										<div class="stat">8 lbs</div>
										<div class="label">Total Weight</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="features" class="product-features py-5 bg-primary bg-shine-primary text-light">
		<div class="container">
			<div class="row justify-content-center justify-content-xl-between align-items-center">
				<div class="col-xl-auto text-center text-xl-start">
					<h3 class="mb-xl-0">Features</h3>
				</div>
				<div class="col-md-4 col-xl py-4 py-xl-0 text-center">
					<p><img src="https://moonfab.com/wp-content/uploads/2020/04/hammer.svg"
							alt="Durable Construction" class="filter-light"
							style="height: 3rem; width: auto;"></p>
					<h4 class="mb-0">Durable Construction</h4>
				</div>
				<div class="col-md-4 col-xl py-4 py-xl-0 text-center">
					<p><img src="https://moonfab.com/wp-content/uploads/2020/04/feather.svg"
							alt="Lightweight Materials" class="filter-light"
							style="height: 3rem; width: auto;"></p>
					<h4 class="mb-0">Lightweight Materials</h4>
				</div>
				<div class="col-md-4 col-xl py-4 py-xl-0 text-center">
					<p><img src="https://moonfab.com/wp-content/uploads/2020/04/bag.svg"
							alt="Packable Design" class="filter-light" style="height: 3rem; width: auto;">
					</p>
					<h4 class="mb-0">Packable Design</h4>
				</div>
				<div class="col-md-4 col-xl py-4 py-xl-0 text-center">
					<p><img src="https://moonfab.com/wp-content/uploads/2020/04/caribiner.svg"
							alt="Easy Attachment" class="filter-light" style="height: 3rem; width: auto;">
					</p>
					<h4 class="mb-0">Easy Attachment</h4>
				</div>
				<div class="col-md-4 col-xl py-4 py-xl-0 text-center">
					<p><img src="https://moonfab.com/wp-content/uploads/2020/04/setup.svg"
							alt="Simple Setup" class="filter-light" style="height: 3rem; width: auto;">
					</p>
					<h4 class="mb-0">Simple Setup</h4>
				</div>
			</div>
		</div>
	</section>
	<section class="product-feature-cards py-5">
		<div class="container">
			<div class="row justify-content-center align-items-center align-items-md-stretch">
				<div class="col-md-4 text-center d-md-flex flex-column">
					<div class="mb-4 mb-md-0 product-feature-card box-shadow text-dark h-100 d-md-flex flex-column"
						style="background-color: rgb(213, 228, 242);">
						<div class="top d-flex align-items-center justify-content-center flex-fill">
							<div class="text-wrapper">
								<h3>Heavy Duty. Not Heavy.</h3>
								<p class="mb-0">MoonShade’s efficient design offers durable protection
									and only weighs 8 pounds.</p>
							</div>
							<div class="bg-fade-overlay"
								style="background-image: linear-gradient(rgb(213, 228, 242) 0%, transparent 100%);">
							</div>
						</div>
						<div class="bottom"><img width="1024" height="683"
								src="https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?fit=1024%2C683&amp;ssl=1"
								alt="" loading="lazy"
								srcset="https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?w=2048&amp;ssl=1 2048w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=300%2C200&amp;ssl=1 300w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=1024%2C683&amp;ssl=1 1024w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=768%2C512&amp;ssl=1 768w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=1536%2C1025&amp;ssl=1 1536w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=600%2C400&amp;ssl=1 600w, https://i1.wp.com/moonfab.com/wp-content/uploads/2021/05/moonshade-retouched-resized-4.jpg?resize=1600%2C1067&amp;ssl=1 1600w"
								sizes="(max-width: 1024px) 100vw, 1024px"
								class="attachment-large size-large"></div>
					</div>
				</div>
				<div class="col-md-4 text-center d-md-flex flex-column">
					<div class="mb-4 mb-md-0 product-feature-card box-shadow text-light h-100 d-md-flex flex-column"
						style="background-color: rgb(78, 119, 165);">
						<div class="top d-flex align-items-center justify-content-center flex-fill">
							<div class="text-wrapper">
								<h3>Shade or Shine.</h3>
								<p class="mb-0">Maximum sun protection by day. Reflective illumination
									by night.</p>
							</div>
							<div class="bg-fade-overlay"
								style="background-image: linear-gradient(rgb(78, 119, 165) 0%, transparent 100%);">
							</div>
						</div>
						<div class="bottom"><img width="1024" height="683"
								src="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?fit=1024%2C683&amp;ssl=1"
								alt="" loading="lazy"
								srcset="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?w=2400&amp;ssl=1 2400w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=300%2C200&amp;ssl=1 300w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=1024%2C683&amp;ssl=1 1024w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=768%2C512&amp;ssl=1 768w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=1536%2C1025&amp;ssl=1 1536w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=2048%2C1366&amp;ssl=1 2048w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=600%2C400&amp;ssl=1 600w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?resize=1600%2C1067&amp;ssl=1 1600w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9187.jpg?w=2340&amp;ssl=1 2340w"
								sizes="(max-width: 1024px) 100vw, 1024px"
								class="attachment-large size-large"></div>
					</div>
				</div>
				<div class="col-md-4 text-center d-md-flex flex-column">
					<div class="mb-4 mb-md-0 product-feature-card box-shadow text-dark h-100 d-md-flex flex-column"
						style="background-color: rgb(228, 232, 234);">
						<div class="top d-flex align-items-center justify-content-center flex-fill">
							<div class="text-wrapper">
								<h3>Big Coverage. Small Bag.</h3>
								<p class="mb-0">MoonShade covers a 9’x7’ site and packs down to about
									the size of a yoga mat.</p>
							</div>
							<div class="bg-fade-overlay"
								style="background-image: linear-gradient(rgb(228, 232, 234) 0%, transparent 100%);">
							</div>
						</div>
						<div class="bottom"><img width="1024" height="683"
								src="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/DSC9007.jpg?fit=1024%2C683&amp;ssl=1"
								alt="" loading="lazy"
								srcset="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/DSC9007.jpg?w=2400&amp;ssl=1 2400w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/DSC9007.jpg?resize=300%2C200&amp;ssl=1 300w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/DSC9007.jpg?resize=1024%2C683&amp;ssl=1 1024w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/DSC9007.jpg?resize=768%2C512&amp;ssl=1 768w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/DSC9007.jpg?resize=1536%2C1025&amp;ssl=1 1536w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/DSC9007.jpg?resize=2048%2C1366&amp;ssl=1 2048w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/DSC9007.jpg?resize=600%2C400&amp;ssl=1 600w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/DSC9007.jpg?resize=1600%2C1067&amp;ssl=1 1600w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/04/DSC9007.jpg?w=2340&amp;ssl=1 2340w"
								sizes="(max-width: 1024px) 100vw, 1024px"
								class="attachment-large size-large"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="product-locations py-5">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-3 mb-3 mb-lg-0 text-center text-lg-start">
					<h3>Find Shade Anywhere</h3>
					<p class="mb-0 pb-4">MoonShade’s versatile design and hardware makes it easy to set
						up and pack down in almost any environment.</p>
				</div>
				<div class="col-lg-9 slide-gallery px-lg-5 min-scroll"><button
						class="btn-slide-gallery btn-slide-gallery-prev rounded"
						style="max-height: 200px;"><span class="inner"><i
								class="far fa-arrow-left"></i></span></button> <button
						class="btn-slide-gallery btn-slide-gallery-next rounded"
						style="max-height: 200px;"><span class="inner"><i
								class="far fa-arrow-right"></i></span></button>
					<div class="slide-gallery-inner">
						<div class="row slim-gutters flex-nowrap slide-gallery-slides"
							style="transform: translateX(0%);">
							<div data-index="0" class="slide text-center col-12 col-sm-6 col-lg-auto">
								<p class="slide-img"><img width="1024" height="683"
										src="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9331.jpg?fit=1024%2C683&amp;ssl=1"
										alt="" loading="lazy"
										srcset="https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9331.jpg?w=2400&amp;ssl=1 2400w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9331.jpg?resize=300%2C200&amp;ssl=1 300w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9331.jpg?resize=1024%2C683&amp;ssl=1 1024w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9331.jpg?resize=768%2C512&amp;ssl=1 768w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9331.jpg?resize=1536%2C1025&amp;ssl=1 1536w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9331.jpg?resize=2048%2C1366&amp;ssl=1 2048w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9331.jpg?resize=600%2C400&amp;ssl=1 600w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9331.jpg?resize=1600%2C1067&amp;ssl=1 1600w, https://i2.wp.com/moonfab.com/wp-content/uploads/2020/10/DSC9331.jpg?w=2340&amp;ssl=1 2340w"
										sizes="(max-width: 1024px) 100vw, 1024px"
										class="rounded box-shadow"></p>
								<p class="fw-bold mb-0">Mobile Living</p>
							</div>
							<div data-index="1" class="slide text-center col-12 col-sm-6 col-lg-auto">
								<p class="slide-img"><img width="1024" height="683"
										src="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/09/DSC9046.jpg?fit=1024%2C683&amp;ssl=1"
										alt="" loading="lazy"
										srcset="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/09/DSC9046.jpg?w=2400&amp;ssl=1 2400w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/09/DSC9046.jpg?resize=300%2C200&amp;ssl=1 300w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/09/DSC9046.jpg?resize=1024%2C683&amp;ssl=1 1024w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/09/DSC9046.jpg?resize=768%2C512&amp;ssl=1 768w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/09/DSC9046.jpg?resize=1536%2C1025&amp;ssl=1 1536w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/09/DSC9046.jpg?resize=2048%2C1366&amp;ssl=1 2048w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/09/DSC9046.jpg?resize=600%2C400&amp;ssl=1 600w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/09/DSC9046.jpg?resize=1600%2C1067&amp;ssl=1 1600w, https://i1.wp.com/moonfab.com/wp-content/uploads/2020/09/DSC9046.jpg?w=2340&amp;ssl=1 2340w"
										sizes="(max-width: 1024px) 100vw, 1024px"
										class="rounded box-shadow"></p>
								<p class="fw-bold mb-0">Camping / Adventuring</p>
							</div>
							<div data-index="2" class="slide text-center col-12 col-sm-6 col-lg-auto">
								<p class="slide-img"><img width="1024" height="683"
										src="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-hunting-fishing.jpg?fit=1024%2C683&amp;ssl=1"
										alt="" loading="lazy"
										srcset="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-hunting-fishing.jpg?w=1800&amp;ssl=1 1800w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-hunting-fishing.jpg?resize=300%2C200&amp;ssl=1 300w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-hunting-fishing.jpg?resize=1024%2C683&amp;ssl=1 1024w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-hunting-fishing.jpg?resize=768%2C512&amp;ssl=1 768w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-hunting-fishing.jpg?resize=1536%2C1024&amp;ssl=1 1536w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-hunting-fishing.jpg?resize=600%2C400&amp;ssl=1 600w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-hunting-fishing.jpg?resize=1600%2C1067&amp;ssl=1 1600w"
										sizes="(max-width: 1024px) 100vw, 1024px"
										class="rounded box-shadow"></p>
								<p class="fw-bold mb-0">Hunting / Fishing</p>
							</div>
						</div>
					</div>
					<div class="slide-gallery-indicators mt-3 d-sm-none"><a href="#" data-index="0"
							class="slide-gallery-indicator active"></a> <a href="#" data-index="1"
							class="slide-gallery-indicator"></a> <a href="#" data-index="2"
							class="slide-gallery-indicator"></a></div>
				</div>
			</div>
		</div>
	</section>

	<section id="video" class="py-5 product-video bg-white border-top">
		<div class="container">
			<h2 class="text-center mb-3">Setup Video</h2>
			<div class="align-items-center">
				<div class="video-embed">
					<div class="jetpack-video-wrapper"><iframe
							title="MoonShade Portable Vehicle Awning Product Walkthrough"
							src="https://www.youtube.com/embed/EQf4_LRsgIM?feature=oembed" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen="allowfullscreen" data-ratio="0.5623931623931624"
							data-width="1170" data-height="658"
							style="display: block; margin: 0px; width: 1170px; height: 658px;"></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="specs" class="py-5 product-specs bg-lighter border-top">
		<div class="container">
			<h3 class="text-center">Specs</h3>
			<div class="row mb-5 align-items-center">
				<div class="col-lg-4 text-center mb-4"><img
						src="https://moonfab.com/wp-content/uploads/2020/04/moonshade-illo.svg" alt=""
						loading="lazy" height="352" width="452" class="spec-illustration"></div>
				<div class="col-lg-8 ps-lg-2">
					<table class="table table-borderless table-product-specs">
						<tbody>
							<tr>
								<th scope="row" class="text-end">Size deployed</th>
								<td>9ft × 7ft.</td>
							</tr>
							<tr>
								<th scope="row" class="text-end">Size Stowed</th>
								<td>28in × 6in (diameter)</td>
							</tr>
							<tr>
								<th scope="row" class="text-end">Weight</th>
								<td>8 pounds</td>
							</tr>
							<tr>
								<th scope="row" class="text-end">Shade Top Materials</th>
								<td>420D recycled-yarn ripstop polyester with UV</td>
							</tr>
							<tr>
								<th scope="row" class="text-end">Shade Bottom Materials</th>
								<td>Reflective coating; heavy-duty polyester webbing trim</td>
							</tr>
							<tr>
								<th scope="row" class="text-end">Poles</th>
								<td>
									<ul class="list-unstyled mb-0">
										<li>13mm aluminum tension poles (2)</li>
										<li>19mm telescoping aluminum support poles (2), adjust from
											78in to 96in</li>
										<li>7ft strut pole (1), for narrow-base mounting</li>
									</ul>
								</td>
							</tr>
							<tr>
								<th scope="row" class="text-end">Hardware Included</th>
								<td>
									<ul class="list-unstyled mb-0">
										<li>Stakes (4)</li>
										<li>Guy lines/tensioners (4)</li>
										<li>Carrying bag with shoulder strap</li>
										<li>Large suction cup anchors (2)</li>
										<li>Small suction cup anchors (2)</li>
										<li>Tall Connect cords for attaching to out of reach anchor
											points (4)</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card card-product-attachment">
				<div class="card-body">
					<div class="row slim-gutters">
						<div class="col-lg-6 align-self-start mb-3 mb-lg-0"><img width="1024" height="683"
								src="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/09/moon-anchors-hero.jpg?fit=1024%2C683&amp;ssl=1"
								alt="" loading="lazy"
								srcset="https://i0.wp.com/moonfab.com/wp-content/uploads/2020/09/moon-anchors-hero.jpg?w=2400&amp;ssl=1 2400w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/09/moon-anchors-hero.jpg?resize=300%2C200&amp;ssl=1 300w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/09/moon-anchors-hero.jpg?resize=1024%2C683&amp;ssl=1 1024w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/09/moon-anchors-hero.jpg?resize=768%2C512&amp;ssl=1 768w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/09/moon-anchors-hero.jpg?resize=1536%2C1025&amp;ssl=1 1536w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/09/moon-anchors-hero.jpg?resize=2048%2C1366&amp;ssl=1 2048w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/09/moon-anchors-hero.jpg?resize=600%2C400&amp;ssl=1 600w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/09/moon-anchors-hero.jpg?resize=1600%2C1067&amp;ssl=1 1600w, https://i0.wp.com/moonfab.com/wp-content/uploads/2020/09/moon-anchors-hero.jpg?w=2340&amp;ssl=1 2340w"
								sizes="(max-width: 1024px) 100vw, 1024px" class="rounded box-shadow">
						</div>
						<div
							class="col-lg-6 col-xl-4 py-4 py-lg-5 align-self-center text-center text-lg-start">
							<h3>How Do I attach MoonShade?</h3>
							<p>Our heavy duty anchor options make MoonShade compatible with almost any
								vehicle. Use our setup quiz to find out which anchor solution is the
								right fit.</p>
							<p class="mb-0"><a href="#setup-quiz" data-bs-toggle="modal"
									class="btn btn-primary">Find Your Setup</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="py-5 bg-light contour-sides border-top">
		<div class="container text-center py-5">
			<h3 class="h2">Get Your MoonShade</h3>
			<p>Create a Moon account for <strong>$15 OFF</strong> or skip the discount and add MoonShade
				to your cart now.</p>
			<div class="mb-0"><a href="https://moonfab.com/account/sign-up/"
					class="btn btn-primary btn-xs-block me-sm-2" style="min-width: 15rem;">Sign Up for
					$15 Off</a>
			<div class="atc-button-wrapper d-inline-block" style="min-width: 15rem;"><button type="button"
					class="btn btn-outline-primary btn-atc"><span class="outer"><span>Add
							to Cart</span> <span class="ms-auto ps-3">
							<!----> <span>$</span><span>325</span>
						</span></span>
					<!---->
				</button></div>
			</div>
		</div>
	</section>
</div>
<div tabindex="-1" role="dialog" id="add-default-product-modal" class="modal fade">
	<div role="document" class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0"><button type="button" data-bs-dismiss="modal" aria-label="Close"
					class="close"><span aria-hidden="true">×</span></button></div>
			<div class="modal-body pt-4 pb-4 px-md-3 px-lg-4">
				<div class="add-default-product-content">
					<div class="row">
						<div class="col-lg-6 col-xl-8 select-anchors-column">
							<div class="mb-3"><img
									src="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/product-moonshade-retouched-resized-1.jpg?fit=1024%2C627&amp;ssl=1"
									alt="MoonShade portable vehicle awning" class="d-block mx-auto"></div>
							<h3>Add MoonShade to Your Order?</h3>
							<p>MoonAnchors were designed to be used with MoonShade, the portable vehicle awning that
								goes almost anywhere. Click below to add MoonShade to your cart.</p>
							<p><span><span class="far fa-exclamation-circle"></span> MoonShade is currently
									available for PreorderPreorder (est. in stock October 18, 2021).</span></p>
							<p class="mb-0">
							<div class="atc-button-wrapper d-block d-sm-inline-block"><button type="button"
									class="btn btn-primary btn-atc btn-xs-block"><span class="outer"><span>Add to
											Cart</span> <span class="ms-auto ps-3">
											<!----> <span>$</span><span>325</span>
										</span></span>
									<!---->
								</button></div>
							</p>
							<hr class="my-4 d-lg-none">
						</div>
						<div class="col-lg-6 col-xl-4">
							<h3>Your Cart</h3>
							<table class="table-borderless table-cart w-100">
								<tbody>
									<tr>
										<td colspan="2" class="py-3">
											<p class="mb-0"><span class="fw-bold d-block">Subtotal</span>
												<em class="small">Shipping and tax may be added at checkout.</em>
											</p>
										</td>
										<td class="py-3 text-end"><span>$0.00</span></td>
									</tr>
								</tbody>
							</table>
							<p class="mb-0"><a href="https://moonfab.com/cart/"
									class="btn btn-block btn-outline-primary">Edit Cart</a> <a
									href="https://moonfab.com/checkout/" class="btn btn-block btn-primary">Checkout</a>
							</p>
						</div>
					</div>
					<p class="mt-4 mb-0"><a data-bs-toggle="modal" href="#add-addon-product-modal"><u>Close</u> and
							keep browsing</a> <span class="far fa-arrow-right"></span></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div tabindex="-1" role="dialog" id="add-addon-product-modal" class="modal fade">
	<div role="document" class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content bg-lighter">
			<div class="modal-header pb-0 border-0"><button type="button" data-bs-dismiss="modal" aria-label="Close"
					class="close"><span aria-hidden="true">×</span></button></div>
			<div class="modal-body pt-4 pb-4 px-md-3 px-lg-4">
				<div class="add-addon-product-content">
					<div class="anchor-select-wrapper">
						<div class="row">
							<div class="col-lg-6 col-xl-8 select-anchors-column">
								<h3>Select Anchor Hardware</h3>
								<p>MoonShade™ includes free suction cup anchors. You may need additional hardware
									for your setup. If you’re not sure what you need, you can answer a few basic
									questions in our Anchor Quiz to get recommendations.</p>
								<p><button type="button"
										class="btn btn-xs-block btn-sm-block btn-md-block btn-primary">Get
										Recommendations</button> <button type="button"
										class="btn btn-xs-block btn-sm-block btn-md-block d-lg-none btn-outline-primary">Skip
										&amp; Checkout</button></p>
								<div class="card card-body mb-2 card-product-info">
									<div class="d-flex">
										<div class="illustration-wrapper"><img
												src="https://i1.wp.com/moonfab.com/wp-content/uploads/2021/07/suction-lg.png?fit=640%2C640&amp;ssl=1"
												alt="Large Suction Cup Anchors" class="w-100"></div>
										<div class="text-wrapper ps-3">
											<div class="title-wrapper d-md-flex">
												<p class="fw-bold mb-1">Large Suction Cup Anchors</p>
												<p class="mb-1 ms-md-1"><span class="badge badge-pill badge-warning"><i
															class="far fa-check"></i>
														Included Free
													</span>
													<!---->
													<!---->
												</p>
											</div>
											<p class="small mb-1">4.5 in. diameter industrial suction cups that hold
												firm to smooth flat surfaces. Included (2) free with MoonShade.</p>
											<p class="mb-0">
											<div class="atc-button-wrapper d-inline-block" quantity-edit="true">
												<!---->
											</div> <a href="https://moonfab.com/products/large-suction-cup-anchors/"
												class="btn btn-link btn-sm p-0 btn-basic-text no-underline">More
												Details</a></p>
										</div>
									</div>
								</div>
								<div class="card card-body mb-2 card-product-info">
									<div class="d-flex">
										<div class="illustration-wrapper"><img
												src="https://i2.wp.com/moonfab.com/wp-content/uploads/2021/07/suction-sm.png?fit=640%2C640&amp;ssl=1"
												alt="Small Suction Cup Anchors" class="w-100"></div>
										<div class="text-wrapper ps-3">
											<div class="title-wrapper d-md-flex">
												<p class="fw-bold mb-1">Small Suction Cup Anchors</p>
												<p class="mb-1 ms-md-1"><span class="badge badge-pill badge-warning"><i
															class="far fa-check"></i>
														Included Free
													</span>
													<!---->
													<!---->
												</p>
											</div>
											<p class="small mb-1">2.75 in. diameter industrial suction cups that
												hold firm to smooth flat surfaces. Included (2) free with MoonShade.
											</p>
											<p class="mb-0">
											<div class="atc-button-wrapper d-inline-block" quantity-edit="true">
												<!---->
											</div> <a href="https://moonfab.com/products/suction-cup-anchors/"
												class="btn btn-link btn-sm p-0 btn-basic-text no-underline">More
												Details</a></p>
										</div>
									</div>
								</div>
								<div class="card card-body mb-2 card-product-info">
									<div class="d-flex">
										<div class="illustration-wrapper"><img
												src="https://i1.wp.com/moonfab.com/wp-content/uploads/2021/07/magnet.png?fit=640%2C640&amp;ssl=1"
												alt="Magnet Anchors" class="w-100"></div>
										<div class="text-wrapper ps-3">
											<div class="title-wrapper d-md-flex">
												<p class="fw-bold mb-1">Magnet Anchors</p>
												<p class="mb-1 ms-md-1"><span>
														$35
													</span> <span title="Click here to read the disclaimer."
														type="button" data-bs-toggle="modal"
														data-bs-target="#disclaimer-modal-7245"
														class="badge badge-warning badge-pill"><i
															class="far fa-exclamation-circle"></i> Disclaimer
													</span> <span
														title="This product is currently out of stock. We're working to get more ASAP."
														class="badge badge badge-pill badge-warning border-0 badge-secondary"><i
															class="far fa-times-circle"></i> Out of Stock
													</span></p>
											</div>
											<p class="small mb-1">Temporary heavy-duty magnets hold to steel
												surfaces like the tops of most vehicles (includes 2).

												11/22 Estimated &lt;u&gt;&lt;a
												href="https://moonfab.com/preorder-faq/#instock-definition"&gt;In
												Stock date&lt;/a&gt;&lt;/u&gt;.</p>
											<p class="mb-0">
											<div class="atc-button-wrapper d-inline-block" quantity-edit="true">
												<!---->
											</div> <a href="https://moonfab.com/products/magnet-anchors/"
												class="btn btn-link btn-sm p-0 btn-basic-text no-underline">More
												Details</a></p>
										</div>
									</div>
								</div>
								<div class="card card-body mb-2 card-product-info">
									<div class="d-flex">
										<div class="illustration-wrapper"><img
												src="https://i2.wp.com/moonfab.com/wp-content/uploads/2021/07/adhesive.png?fit=640%2C640&amp;ssl=1"
												alt="Adhesive Anchors" class="w-100"></div>
										<div class="text-wrapper ps-3">
											<div class="title-wrapper d-md-flex">
												<p class="fw-bold mb-1">Adhesive Anchors</p>
												<p class="mb-1 ms-md-1"><span>
														$25
													</span>
													<!---->
													<!---->
												</p>
											</div>
											<p class="small mb-1">Semi-permanent adhesive holds strong on a variety
												of surfaces (includes 2).</p>
											<p class="mb-0">
											<div class="atc-button-wrapper d-inline-block" quantity-edit="true">
												<button type="button" class="btn btn-primary btn-sm btn-atc"><span
														class="outer"><span>Add</span> <span class="ms-auto ps-3">
															<!----> <span>$</span><span>25</span>
														</span></span>
													<!---->
												</button>
											</div> <a href="https://moonfab.com/products/adhesive-anchors/"
												class="btn btn-link btn-sm p-0 btn-basic-text no-underline">More
												Details</a></p>
										</div>
									</div>
								</div>
								<div class="card card-body mb-2 card-product-info">
									<div class="d-flex">
										<div class="illustration-wrapper"><img
												src="https://i0.wp.com/moonfab.com/wp-content/uploads/2021/07/gear-ties.png?fit=640%2C640&amp;ssl=1"
												alt="Nite Ize Gear Tie® Loopable™ Twist Tie" class="w-100"></div>
										<div class="text-wrapper ps-3">
											<div class="title-wrapper d-md-flex">
												<p class="fw-bold mb-1">Nite Ize Gear Tie® Loopable™ Twist
													Tie</p>
												<p class="mb-1 ms-md-1"><span>
														$10
													</span>
													<!---->
													<!---->
												</p>
											</div>
											<p class="small mb-1">Flexible solution for attaching MoonShade to a
												variety of vehicle anchor points (includes 2, black)</p>
											<p class="mb-0">
											<div class="atc-button-wrapper d-inline-block" quantity-edit="true">
												<button type="button" class="btn btn-primary btn-sm btn-atc"><span
														class="outer"><span>Add</span> <span class="ms-auto ps-3">
															<!----> <span>$</span><span>10</span>
														</span></span>
													<!---->
												</button>
											</div> <a
												href="https://moonfab.com/products/nite-ize-gear-tie-loopable-twist-tie/"
												class="btn btn-link btn-sm p-0 btn-basic-text no-underline">More
												Details</a></p>
										</div>
									</div>
								</div>
								<div class="card card-body mb-2 card-product-info">
									<div class="d-flex">
										<div class="illustration-wrapper"><img
												src="https://i1.wp.com/moonfab.com/wp-content/uploads/2020/10/sprinter-assembled-1.png?fit=640%2C640&amp;ssl=1"
												alt="Sprinter Rail Anchors" class="w-100"></div>
										<div class="text-wrapper ps-3">
											<div class="title-wrapper d-md-flex">
												<p class="fw-bold mb-1">Sprinter Rail Anchors</p>
												<p class="mb-1 ms-md-1"><span>
														$20
													</span>
													<!---->
													<!---->
												</p>
											</div>
											<p class="small mb-1">Anchor method specially designed for Mercedes-Benz
												Sprinter van roof rails (includes 2).</p>
											<p class="mb-0">
											<div class="atc-button-wrapper d-inline-block" quantity-edit="true">
												<button type="button" class="btn btn-primary btn-sm btn-atc"><span
														class="outer"><span>Add</span> <span class="ms-auto ps-3">
															<!----> <span>$</span><span>20</span>
														</span></span>
													<!---->
												</button>
											</div> <a href="https://moonfab.com/products/sprinter-rail-anchors/"
												class="btn btn-link btn-sm p-0 btn-basic-text no-underline">More
												Details</a></p>
										</div>
									</div>
								</div>
								<div class="card card-body mb-2 card-product-info">
									<div class="d-flex">
										<div class="illustration-wrapper"><img
												src="https://i1.wp.com/moonfab.com/wp-content/uploads/2021/07/basecamp.png?fit=640%2C640&amp;ssl=1"
												alt="Basecamp Rail Anchors" class="w-100"></div>
										<div class="text-wrapper ps-3">
											<div class="title-wrapper d-md-flex">
												<p class="fw-bold mb-1">Basecamp Rail Anchors</p>
												<p class="mb-1 ms-md-1"><span>
														$20
													</span>
													<!---->
													<!---->
												</p>
											</div>
											<p class="small mb-1">Anchor method specially designed for Airstream
												Basecamp roof rails (includes 2).</p>
											<p class="mb-0">
											<div class="atc-button-wrapper d-inline-block" quantity-edit="true">
												<button type="button" class="btn btn-primary btn-sm btn-atc"><span
														class="outer"><span>Add</span> <span class="ms-auto ps-3">
															<!----> <span>$</span><span>20</span>
														</span></span>
													<!---->
												</button>
											</div> <a href="https://moonfab.com/products/basecamp-rail-anchors/"
												class="btn btn-link btn-sm p-0 btn-basic-text no-underline">More
												Details</a></p>
										</div>
									</div>
								</div>
								<div class="card card-body mb-2 card-product-info">
									<div class="d-flex">
										<div class="illustration-wrapper"><img
												src="https://i0.wp.com/moonfab.com/wp-content/uploads/2021/06/camjam.png?fit=640%2C640&amp;ssl=1"
												alt="Nite Ize CamJam® Cord Tightener (4-Pack)" class="w-100"></div>
										<div class="text-wrapper ps-3">
											<div class="title-wrapper d-md-flex">
												<p class="fw-bold mb-1">Nite Ize CamJam® Cord Tightener
													(4-Pack)</p>
												<p class="mb-1 ms-md-1"><span>
														$10
													</span>
													<!---->
													<!---->
												</p>
											</div>
											<p class="small mb-1">Alternative solution to tighten, tension, and
												secure MoonShade guylines (includes 4, black).</p>
											<p class="mb-0">
											<div class="atc-button-wrapper d-inline-block" quantity-edit="true">
												<button type="button" class="btn btn-primary btn-sm btn-atc"><span
														class="outer"><span>Add</span> <span class="ms-auto ps-3">
															<!----> <span>$</span><span>10</span>
														</span></span>
													<!---->
												</button>
											</div> <a
												href="https://moonfab.com/products/nite-ize-camjam-cord-tightener/"
												class="btn btn-link btn-sm p-0 btn-basic-text no-underline">More
												Details</a></p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-xl-4 pt-4 pt-lg-0">
								<h3>Your Cart</h3>
								<table class="table-borderless table-cart w-100">
									<tbody>
										<tr>
											<td colspan="2" class="py-3">
												<p class="mb-0"><span class="fw-bold d-block">Subtotal</span>
													<em class="small">Shipping and tax may be added at
														checkout.</em></p>
											</td>
											<td class="py-3 text-end"><span>$0.00</span></td>
										</tr>
									</tbody>
								</table>
								<p><a href="https://moonfab.com/cart/" class="btn btn-block btn-outline-primary">Edit
										Cart</a> <a href="https://moonfab.com/checkout/"
										class="btn btn-block btn-primary">Checkout</a></p>
							</div>
						</div>
						<p class="mt-4 mb-0"><a data-bs-toggle="modal" href="#add-addon-product-modal"><u>Close</u> and
								keep browsing</a> <span class="far fa-arrow-right"></span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div tabindex="-1" role="dialog" id="discount-modal" class="modal fade">
	<div role="document" class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0"><button type="button" data-bs-dismiss="modal" aria-label="Close"
					class="close"><span aria-hidden="true">×</span></button></div>
			<div class="modal-body pt-4 pb-5">
				<div class="discount-wrapper">
					<div class="container-fluid">
						<h3 class="text-center mb-4">Get $15 OFF MoonShade.</h3>
						<div class="row text-center align-items-stretch justify-content-md-between">
							<div class="col-lg">
								<div class="form-wrapper">
									<!---->
									<p>Join the Moon email list to get a $25 off coupon right now.</p>
									<form class="">
										<fieldset class="form-group" id="__BVID__13">
											<!---->
											<div><input id="discount-email-input" type="text"
													placeholder="your@email.com" class="text-center form-control">
												<div id="discount-email-input-live-feedback" class="invalid-feedback">
													A valid email is required.
												</div>
												<!---->
												<!---->
												<!---->
											</div>
										</fieldset> <button type="submit" class="btn btn-primary btn-block"><span>Get
												$25 Off</span></button>
									</form>
								</div>
							</div>
							<div class="col-lg-auto">
								<hr class="my-4 d-lg-none">
								<div class="border-start h-100 d-none d-lg-block"></div>
							</div>
							<div class="col-lg">
								<p>Or <a href="https://moonfab.com/?add-to-cart=7259">skip</a> the discount.</p> <a
									href="https://moonfab.com/?add-to-cart=7259" target="_self"
									class="btn btn-outline-primary btn-block">Get MoonShade Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div tabindex="-1" role="dialog" id="country-AU" class="modal fade">
	<div role="document" class="modal-dialog modal-md modal-dialog-centered">
		<div class="modal-content bg-lighter">
			<div class="modal-header pb-0 border-0"><button type="button" data-bs-dismiss="modal" aria-label="Close"
					class="close"><span aria-hidden="true">×</span></button></div>
			<div class="modal-body pt-4 pb-4 px-md-3 px-lg-4">
				<h3 class="h2">Australia Customers</h3>
				<p>We’ve partnered with Nomad Nature to make ordering MoonShade easier for our Australian customers.
					You can still order on our website but may find faster, less expensive shipping options through
					Nomad Nature. Click below to redirect to Nomad Nature, or close this window to keep shopping on
					the Moon website.</p>
				<p class="mb-0"><a href="https://www.nomadnature.com.au/products/moonshade-awning" target="_blank"
						rel="noopener" class="btn btn-block btn-primary">Order from Nomad Nature </a></p>
			</div>
		</div>
	</div>
</div>
<div tabindex="-1" role="dialog" id="setup-quiz" class="modal fade">
	<div role="document" class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0"><button type="button" data-bs-dismiss="modal" aria-label="Close"
					class="close"><span aria-hidden="true">×</span></button></div>
			<div class="modal-body pt-4 px-grid">
				<div class="quiz-wrapper">
					<div class="position-relative">
						<!---->
						<div class="intro-page text-center">
							<div class="container-fluid container-max-md mb-3"><img class="rounded box-shadow mb-3"
									src="https://moonfab.com/wp-content/uploads/2020/09/DSC8874-cropped-1024x448.jpg"
									alt="" width="1024" height="448">
								<h2>Let's Connect</h2>
								MoonShade was designed to be compatible with almost any solid structure. MoonAnchors
								each have different use cases that will help you set up MoonShade with your specific
								vehicle. Answer a few simple questions to find out which MoonAnchors will work best
								for you.
							</div>
							<p><button type="button" class="btn btn-primary">Begin</button></p>
							<p class="mb-0"><a href="#setup-quiz" data-bs-toggle="modal"
									data-bs-target="#setup-quiz">Cancel</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div tabindex="-1" role="dialog" id="international-customers-modal" class="modal fade">
	<div role="document" class="modal-dialog modal-md modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0"><button type="button" data-bs-dismiss="modal" aria-label="Close"
					class="close"><span aria-hidden="true">×</span></button></div>
			<div class="modal-body px-md-4">
				<h3><span class="far fa-globe"></span> International Availability</h3>
				<p>International Shipping is currently only available for <strong>Australia, Canada, Germany,
						Ireland, New Zealand, and United Kingdom (UK)</strong>.</p>
				<hr>
				<h4>Get Shipping to Your Country</h4>
				<p>Enter your country and email below to request shipping to your country and get notified when we
					add it.</p>
				<div role="form" id="wpcf7-f9482-o1" lang="en-US" dir="ltr" class="wpcf7">
					<div class="screen-reader-response">
						<p role="status" aria-live="polite" aria-atomic="true"></p>
						<ul></ul>
					</div>
					<form action="/products/moonshade/#wpcf7-f9482-o1" method="post" novalidate="novalidate"
						data-status="init" class="wpcf7-form init">
						<div style="display: none;"><input type="hidden" name="_wpcf7" value="9482"> <input
								type="hidden" name="_wpcf7_version" value="5.4.2"> <input type="hidden"
								name="_wpcf7_locale" value="en_US"> <input type="hidden" name="_wpcf7_unit_tag"
								value="wpcf7-f9482-o1"> <input type="hidden" name="_wpcf7_container_post" value="0">
							<input type="hidden" name="_wpcf7_posted_data_hash" value=""> <input type="hidden"
								name="_wpcf7_recaptcha_response"
								value="03AGdBq26Uze9B5_StrC519i1ABPlk1ARAMpttz6DHnWpgs1xAWV7HYZa98vbVzIypoktWv3KXsrILT4KPIAcoCJFFdAKBNszaC9OXfIhaK1ClHmgaQKRG6QDSx8I-VWlpwA3Ysmw5UWTL-Y3cliGC-rDjg4k9zNV6Huc9jQyhOKsv7yKmGIkMYjVW-MRwuAEt_oeTDRIdjpDNXEbnzIjCR9UfbR1bK_OObOA9lGH109db1GQCa3ooAZhlTHidlXt8TsiYR5Ztgbegts5sWA_8Qy_LQjCIwVmKBu_IsHCFf1KcW7i8jY2xpjkLw_dGeoMr2HpPmt73dsZPoMBtX-8X_xcXmWOV84b3gCB3kDCgt6GiPZ4tRiGGSKKkOsCjQqEjDlqqpcHVgO2QN3wN2sHz4rEDLbULceYV9bU5l-rSlgefqY6gKbKEmL5ZcumkdhWBkNmEZZrEf-GgTT5mCU_B7y1ZEEUm2EDEuIgbW0S4Hy6j0K9EyK-OBxY0buRXeGI0zfqoIgokJ6pP">
						</div>
						<div class="form-group"><label for="select-country">Select Country</label><br> <span
								class="wpcf7-form-control-wrap request_country"><select name="request_country"
									id="select-country" aria-required="true" aria-invalid="false"
									class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required custom-select">
									<option value="">---</option>
									<option value="Afghanistan">Afghanistan</option>
									<option value="Åland Islands">Åland Islands</option>
									<option value="Albania">Albania</option>
									<option value="Algeria">Algeria</option>
									<option value="American Samoa">American Samoa</option>
									<option value="Andorra">Andorra</option>
									<option value="Angola">Angola</option>
									<option value="Anguilla">Anguilla</option>
									<option value="Antarctica">Antarctica</option>
									<option value="Antigua and Barbuda">Antigua and Barbuda</option>
									<option value="Argentina">Argentina</option>
									<option value="Armenia">Armenia</option>
									<option value="Aruba">Aruba</option>
									<option value="Australia">Australia</option>
									<option value="Austria">Austria</option>
									<option value="Azerbaijan">Azerbaijan</option>
									<option value="Bahamas">Bahamas</option>
									<option value="Bahrain">Bahrain</option>
									<option value="Bangladesh">Bangladesh</option>
									<option value="Barbados">Barbados</option>
									<option value="Belarus">Belarus</option>
									<option value="Belau">Belau</option>
									<option value="Belgium">Belgium</option>
									<option value="Belize">Belize</option>
									<option value="Benin">Benin</option>
									<option value="Bermuda">Bermuda</option>
									<option value="Bhutan">Bhutan</option>
									<option value="Bolivia">Bolivia</option>
									<option value="Bonaire, Saint Eustatius and Saba">Bonaire, Saint Eustatius and
										Saba</option>
									<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
									<option value="Botswana">Botswana</option>
									<option value="Bouvet Island">Bouvet Island</option>
									<option value="Brazil">Brazil</option>
									<option value="British Indian Ocean Territory">British Indian Ocean Territory
									</option>
									<option value="Brunei">Brunei</option>
									<option value="Bulgaria">Bulgaria</option>
									<option value="Burkina Faso">Burkina Faso</option>
									<option value="Burundi">Burundi</option>
									<option value="Cambodia">Cambodia</option>
									<option value="Cameroon">Cameroon</option>
									<option value="Canada">Canada</option>
									<option value="Cape Verde">Cape Verde</option>
									<option value="Cayman Islands">Cayman Islands</option>
									<option value="Central African Republic">Central African Republic</option>
									<option value="Chad">Chad</option>
									<option value="Chile">Chile</option>
									<option value="China">China</option>
									<option value="Christmas Island">Christmas Island</option>
									<option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
									<option value="Colombia">Colombia</option>
									<option value="Comoros">Comoros</option>
									<option value="Congo (Brazzaville)">Congo (Brazzaville)</option>
									<option value="Congo (Kinshasa)">Congo (Kinshasa)</option>
									<option value="Cook Islands">Cook Islands</option>
									<option value="Costa Rica">Costa Rica</option>
									<option value="Croatia">Croatia</option>
									<option value="Cuba">Cuba</option>
									<option value="Curaçao">Curaçao</option>
									<option value="Cyprus">Cyprus</option>
									<option value="Czech Republic">Czech Republic</option>
									<option value="Denmark">Denmark</option>
									<option value="Djibouti">Djibouti</option>
									<option value="Dominica">Dominica</option>
									<option value="Dominican Republic">Dominican Republic</option>
									<option value="Ecuador">Ecuador</option>
									<option value="Egypt">Egypt</option>
									<option value="El Salvador">El Salvador</option>
									<option value="Equatorial Guinea">Equatorial Guinea</option>
									<option value="Eritrea">Eritrea</option>
									<option value="Estonia">Estonia</option>
									<option value="Ethiopia">Ethiopia</option>
									<option value="Falkland Islands">Falkland Islands</option>
									<option value="Faroe Islands">Faroe Islands</option>
									<option value="Fiji">Fiji</option>
									<option value="Finland">Finland</option>
									<option value="France">France</option>
									<option value="French Guiana">French Guiana</option>
									<option value="French Polynesia">French Polynesia</option>
									<option value="French Southern Territories">French Southern Territories</option>
									<option value="Gabon">Gabon</option>
									<option value="Gambia">Gambia</option>
									<option value="Georgia">Georgia</option>
									<option value="Germany">Germany</option>
									<option value="Ghana">Ghana</option>
									<option value="Gibraltar">Gibraltar</option>
									<option value="Greece">Greece</option>
									<option value="Greenland">Greenland</option>
									<option value="Grenada">Grenada</option>
									<option value="Guadeloupe">Guadeloupe</option>
									<option value="Guam">Guam</option>
									<option value="Guatemala">Guatemala</option>
									<option value="Guernsey">Guernsey</option>
									<option value="Guinea">Guinea</option>
									<option value="Guinea-Bissau">Guinea-Bissau</option>
									<option value="Guyana">Guyana</option>
									<option value="Haiti">Haiti</option>
									<option value="Heard Island and McDonald Islands">Heard Island and McDonald
										Islands</option>
									<option value="Honduras">Honduras</option>
									<option value="Hong Kong">Hong Kong</option>
									<option value="Hungary">Hungary</option>
									<option value="Iceland">Iceland</option>
									<option value="India">India</option>
									<option value="Indonesia">Indonesia</option>
									<option value="Iran">Iran</option>
									<option value="Iraq">Iraq</option>
									<option value="Ireland">Ireland</option>
									<option value="Isle of Man">Isle of Man</option>
									<option value="Israel">Israel</option>
									<option value="Italy">Italy</option>
									<option value="Ivory Coast">Ivory Coast</option>
									<option value="Jamaica">Jamaica</option>
									<option value="Japan">Japan</option>
									<option value="Jersey">Jersey</option>
									<option value="Jordan">Jordan</option>
									<option value="Kazakhstan">Kazakhstan</option>
									<option value="Kenya">Kenya</option>
									<option value="Kiribati">Kiribati</option>
									<option value="Kuwait">Kuwait</option>
									<option value="Kyrgyzstan">Kyrgyzstan</option>
									<option value="Laos">Laos</option>
									<option value="Latvia">Latvia</option>
									<option value="Lebanon">Lebanon</option>
									<option value="Lesotho">Lesotho</option>
									<option value="Liberia">Liberia</option>
									<option value="Libya">Libya</option>
									<option value="Liechtenstein">Liechtenstein</option>
									<option value="Lithuania">Lithuania</option>
									<option value="Luxembourg">Luxembourg</option>
									<option value="Macao">Macao</option>
									<option value="Madagascar">Madagascar</option>
									<option value="Malawi">Malawi</option>
									<option value="Malaysia">Malaysia</option>
									<option value="Maldives">Maldives</option>
									<option value="Mali">Mali</option>
									<option value="Malta">Malta</option>
									<option value="Marshall Islands">Marshall Islands</option>
									<option value="Martinique">Martinique</option>
									<option value="Mauritania">Mauritania</option>
									<option value="Mauritius">Mauritius</option>
									<option value="Mayotte">Mayotte</option>
									<option value="Mexico">Mexico</option>
									<option value="Micronesia">Micronesia</option>
									<option value="Moldova">Moldova</option>
									<option value="Monaco">Monaco</option>
									<option value="Mongolia">Mongolia</option>
									<option value="Montenegro">Montenegro</option>
									<option value="Montserrat">Montserrat</option>
									<option value="Morocco">Morocco</option>
									<option value="Mozambique">Mozambique</option>
									<option value="Myanmar">Myanmar</option>
									<option value="Namibia">Namibia</option>
									<option value="Nauru">Nauru</option>
									<option value="Nepal">Nepal</option>
									<option value="Netherlands">Netherlands</option>
									<option value="New Caledonia">New Caledonia</option>
									<option value="New Zealand">New Zealand</option>
									<option value="Nicaragua">Nicaragua</option>
									<option value="Niger">Niger</option>
									<option value="Nigeria">Nigeria</option>
									<option value="Niue">Niue</option>
									<option value="Norfolk Island">Norfolk Island</option>
									<option value="North Korea">North Korea</option>
									<option value="North Macedonia">North Macedonia</option>
									<option value="Northern Mariana Islands">Northern Mariana Islands</option>
									<option value="Norway">Norway</option>
									<option value="Oman">Oman</option>
									<option value="Pakistan">Pakistan</option>
									<option value="Palestinian Territory">Palestinian Territory</option>
									<option value="Panama">Panama</option>
									<option value="Papua New Guinea">Papua New Guinea</option>
									<option value="Paraguay">Paraguay</option>
									<option value="Peru">Peru</option>
									<option value="Philippines">Philippines</option>
									<option value="Pitcairn">Pitcairn</option>
									<option value="Poland">Poland</option>
									<option value="Portugal">Portugal</option>
									<option value="Puerto Rico">Puerto Rico</option>
									<option value="Qatar">Qatar</option>
									<option value="Reunion">Reunion</option>
									<option value="Romania">Romania</option>
									<option value="Russia">Russia</option>
									<option value="Rwanda">Rwanda</option>
									<option value="São Tomé and Príncipe">São Tomé and Príncipe</option>
									<option value="Saint Barthélemy">Saint Barthélemy</option>
									<option value="Saint Helena">Saint Helena</option>
									<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
									<option value="Saint Lucia">Saint Lucia</option>
									<option value="Saint Martin (Dutch part)">Saint Martin (Dutch part)</option>
									<option value="Saint Martin (French part)">Saint Martin (French part)</option>
									<option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
									<option value="Saint Vincent and the Grenadines">Saint Vincent and the
										Grenadines</option>
									<option value="Samoa">Samoa</option>
									<option value="San Marino">San Marino</option>
									<option value="Saudi Arabia">Saudi Arabia</option>
									<option value="Senegal">Senegal</option>
									<option value="Serbia">Serbia</option>
									<option value="Seychelles">Seychelles</option>
									<option value="Sierra Leone">Sierra Leone</option>
									<option value="Singapore">Singapore</option>
									<option value="Slovakia">Slovakia</option>
									<option value="Slovenia">Slovenia</option>
									<option value="Solomon Islands">Solomon Islands</option>
									<option value="Somalia">Somalia</option>
									<option value="South Africa">South Africa</option>
									<option value="South Georgia/Sandwich Islands">South Georgia/Sandwich Islands
									</option>
									<option value="South Korea">South Korea</option>
									<option value="South Sudan">South Sudan</option>
									<option value="Spain">Spain</option>
									<option value="Sri Lanka">Sri Lanka</option>
									<option value="Sudan">Sudan</option>
									<option value="Suriname">Suriname</option>
									<option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
									<option value="Swaziland">Swaziland</option>
									<option value="Sweden">Sweden</option>
									<option value="Switzerland">Switzerland</option>
									<option value="Syria">Syria</option>
									<option value="Taiwan">Taiwan</option>
									<option value="Tajikistan">Tajikistan</option>
									<option value="Tanzania">Tanzania</option>
									<option value="Thailand">Thailand</option>
									<option value="Timor-Leste">Timor-Leste</option>
									<option value="Togo">Togo</option>
									<option value="Tokelau">Tokelau</option>
									<option value="Tonga">Tonga</option>
									<option value="Trinidad and Tobago">Trinidad and Tobago</option>
									<option value="Tunisia">Tunisia</option>
									<option value="Turkey">Turkey</option>
									<option value="Turkmenistan">Turkmenistan</option>
									<option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
									<option value="Tuvalu">Tuvalu</option>
									<option value="Uganda">Uganda</option>
									<option value="Ukraine">Ukraine</option>
									<option value="United Arab Emirates">United Arab Emirates</option>
									<option value="United Kingdom (UK)">United Kingdom (UK)</option>
									<option value="United States (US)">United States (US)</option>
									<option value="United States (US) Minor Outlying Islands">United States (US)
										Minor Outlying Islands</option>
									<option value="Uruguay">Uruguay</option>
									<option value="Uzbekistan">Uzbekistan</option>
									<option value="Vanuatu">Vanuatu</option>
									<option value="Vatican">Vatican</option>
									<option value="Venezuela">Venezuela</option>
									<option value="Vietnam">Vietnam</option>
									<option value="Virgin Islands (British)">Virgin Islands (British)</option>
									<option value="Virgin Islands (US)">Virgin Islands (US)</option>
									<option value="Wallis and Futuna">Wallis and Futuna</option>
									<option value="Western Sahara">Western Sahara</option>
									<option value="Yemen">Yemen</option>
									<option value="Zambia">Zambia</option>
									<option value="Zimbabwe">Zimbabwe</option>
								</select></span></div>
						<div class="form-group"><label for="request-ship-email-input">Email</label><br> <span
								class="wpcf7-form-control-wrap email"><input type="email" name="email" value=""
									size="40" id="request-ship-email-input" aria-required="true" aria-invalid="false"
									placeholder="your@email.com"
									class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"></span>
						</div>
						<p><input type="submit" value="Submit Request"
								class="wpcf7-form-control wpcf7-submit btn btn-primary btn-block"><span
								class="ajax-loader"></span></p>
						<div aria-hidden="true" class="wpcf7-response-output"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div tabindex="-1" role="dialog" id="disclaimer-modal-7245" class="modal fade">
	<div role="document" class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header align-items-center">
				<h3 class="modal-title"><span class="far fa-exclamation-circle"></span> Disclaimer</h3> <button
					type="button" data-bs-dismiss="modal" aria-label="Close" class="close"><span
						aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body pt-4 pb-3">
				<p>Please be sure to understand the following before purchasing Magnet Anchors.</p>
				<h4>General</h4>
				<ul>
					<li>Use caution when applying to avoid injury.</li>
					<li>Keep away from electronics, credit cards, and other sensitive devices.</li>
					<li>Inspect Magnet Anchor scuff pad to avoid damaging the vehicle finish.</li>
					<li>Magnet Anchors are a temporary anchor solution.</li>
				</ul>
				<h4>Product Use</h4>
				<h5>DO</h5>
				<ul>
					<li>Place Magnet Anchors on roof of vehicle or other horizontal surface.</li>
					<li>Position Magnet Anchors on or near seams and reinforced areas.</li>
					<li>Use Magnet Anchors in calm conditions only (winds less than 5mph).</li>
					<li>Unmount MoonShade from vehicle anchors in high winds, gusty conditions, and heavy
						precipitation.</li>
					<li>Use included guylines and stakes EVERY time MoonShade is set up.</li>
					<li>Use caution in wet conditions as this may increase the risk of Magnet Anchors slipping
						unexpectedly.</li>
				</ul>
				<h5>DO NOT</h5>
				<ul>
					<li>Place Magnet Anchors on vertical surfaces.</li>
					<li>Leave MoonShade unattended while mounted to vehicle.</li>
				</ul>
				<p>Learn more in the extended disclaimer <a href="https://moonfab.com/magnet-anchor-disclaimer/"
						target="_blank" rel="noopener">here</a>.</p>
			</div>
		</div>
	</div>
</div>
<div tabindex="-1" role="dialog" id="notifyStockModal" class="modal fade">
	<div role="document" class="modal-dialog modal-md modal-dialog-centered">
		<div class="modal-content bg-lighter">
			<div class="modal-header">
				<h3 class="m-0">Back in Stock Updates</h3> <button type="button" data-bs-dismiss="modal" aria-label="Close"
					class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body pt-4 pb-4 px-md-3 px-lg-4">
				<p id="notifyStockAlert" class="d-none alert"></p>
				<div id="notifyStockWrapper">
					<p>Sign up to get an email alert when MoonShade is back in stock.</p>
					<form action="" id="notifyStock">
						<div class="row slim-gutters">
							<div class="col">
								<div class="form-group"><label for="first_name">First name<span
											class="required">*</span></label> <input type="text" id="first_name"
										name="first_name" required="required" class="form-control"></div>
							</div>
							<div class="col">
								<div class="form-group"><label for="last_name">Last name<span
											class="required">*</span></label> <input type="text" id="last_name"
										name="last_name" required="required" class="form-control"></div>
							</div>
						</div>
						<div class="form-group"><label for="email">Email<span class="required">*</span></label>
							<input type="email" id="email" name="email" required="required" class="form-control">
						</div> <input type="hidden" name="productStock" value="HG-MSO-SHDOR-SB"> <button type="submit"
							id="notifyStockSubmit" class="btn btn-primary btn-block">Get
							Updates</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
