
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign compare_at_price = current_variant.compare_at_price -%}
{%- assign price = current_variant.price -%}
{% if price %}
<p class="price">
	{% if compare_at_price %}
	<del aria-hidden="true">
		<span class="amount">
			<bdi>30</bdi>
		</span>
	</del>
	{% endif %}
	<ins>
		<span class="amount">
			<bdi>{{ price | money_without_trailing_zeros }}</bdi>
		</span>
	</ins>
</p>
{% endif %}
