
name: Theme Check
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']
jobs:
  theme-check:
    name: Theme Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Theme Check
        uses: shopify/theme-check-action@v1
        with:
          theme_root: './dist'
          token: ${{ github.token }}
          
